.link-footer {
  text-align: center;
}

.link-image {
  height: 1.5em;
  margin: 0.2em 0.5em;
}

.link-tooltip-container {
}

.link-tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  font-size: smaller;
}

.link-tooltip-container:hover .link-tooltip {
  visibility: visible;
}
