.stat {
  margin: 0.4em;
}

.stat .name {
  display: inline-block;
  text-align: right;
  width: 6em;
}

.stat .value {
  display: inline-block;
  text-align: right;
  width: 2.5em;
}

.stat .decimal {
  display: inline-block;
  text-align: left;
  width: 2em;
}

.resets button {
  margin: 0 1em;
}

.rules-button {
  margin: 1em;
}

.rules {
  max-width: 40em;
  margin: auto;
}
